.aircraft-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1000px;
    padding: 20px;
}

.aircraft {
    text-align: center;
}

.aircraft img {
    width: 100%;
    height: auto;
}

.flight-info {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.flight-info p {
    margin: 5px 0;
}